@font-face {
    font-family: "Letter Gothic Std";
    src: url("fonts/Letter Gothic std/Letter Gothic Std.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Canora";
    src: url("fonts/Canora\ -\ Web/Canora-Verso.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("images/background.jpg");
    background-size: 1000px;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    gap: 80px;

    font-family: "Letter Gothic Std", monospace;
    line-height: 1.1;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1em;

    font-size: 1.3rem;
}

/* EXHIBITIONS */
.exhibitions {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-left: 1.5rem;
}

.exhibition {
    max-width: 50ch;
    margin-left: 40px;

    h1 {
        font-size: inherit;
        font-weight: inherit;
        height: 5rem;
        display: flex;
        align-items: flex-end;
    }
}

.exhibition:hover h1 {
    font-family: "Canora";
    transform: skewX(30deg);
    font-size: 5rem;
    font-weight: 500;
    line-height: 0.8;
    letter-spacing: 0.1em;
    margin-left: -1.4rem;
}

@media (pointer: coarse), (hover: none) {
    .exhibition h1 {
        font-family: "Canora";
        transform: skewX(30deg);
        font-size: 3rem;
        font-weight: 500;
        line-height: 0.8;
        letter-spacing: 0.1em;
        margin-left: -1.4rem;
    }
}

.exhibition.active {
    margin-left: 0;
    margin-bottom: 20px;
}

/* MAILING FORM */
form input {
    display: block;
    cursor: none;

    background: none;
    width: 100%;
    border: none;
    outline: none;

    font-family: "Letter Gothic Std";
    letter-spacing: 0.1em;
    font-weight: bold;
}

form input:placeholder-shown {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

form input:focus {
    transform: skewX(-20deg);
}

form {
    display: none;
    flex-direction: column;
    gap: 30px;
}

form.active {
    display: flex;
}

.actionSelectors {
    display: flex;
    gap: 40px;
}

.cursor {
    margin-left: 0.1em;
    border-right: 0.06em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/* CURSOR */
#cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition:
        transform 0.05s linear,
        width 0.2s ease,
        height 0.2s ease;
}

#cursor.hover {
    background: deeppink;
}

body:active #cursor {
    /*click effect*/
    width: 6px;
    height: 6px;
}

@media (pointer: fine) {
    html,
    body {
        cursor: none;
    }

    #cursor {
        display: block;
    }
}

@media (pointer: coarse), (hover: none) {
    #cursor {
        display: none;
    }
}

/* DESKTOP VERSION */
@media (min-width: 768px) {
    body {
        padding: 80px 140px;
        gap: 40px;
    }

    header {
        order: 1;
    }

    .exhibitions {
        order: 3;
        margin-left: 0;
    }

    .exhibition.active {
        margin-bottom: 0;
    }

    .exhibition {
        margin-left: 0;
        max-width: 70ch;
    }

    .formDialogue {
        order: 2;
        margin-bottom: 40px;
    }
}
